{% extends 'base.html' %}
{% block content %}
<div class="container">
  <br/>
<div class="row">
  <div class="col-2">
    <img src="{{ pr_dt.icon.url }}" class="img-fluid"/>
  </div>
  <div class="col-10">
    <a href="{{ pr_dt.url }}"><h1>{{pr_dt.title}}</h1></a>
</div>

<div class="row">
  <div class="col-8">
    <img src="{{ pr_dt.image.url }}" width=500 class="img-fluid"/>
  </div>
  <div class="col-4">
    <a href="javascript:{document.getElementById('upvote_id_form').submit() }"> <button class="btn btn-primary btn-lg"><span class="oi oi-caret-top"></span> Upvote  {{pr_dt.votes_total}}</button></a>
</div>

<div class="row pt-2">
  <div class="col-4 text-right">
    <h4><span class="oi oi-magnifying-glass"></span> Hunted By {{pr_dt.hunter.username}} </h4>
  </div>
  <div class="col-4">
    <h4><span class="oi oi-clock"></span> {{ pr_dt.pub_date_nice }} </h4>
</div>

<div class="row">
  <div class="col-8">
    <p>{{pr_dt.body}}</p>
  </div>
</div>
</div>

<form method="POST" id='upvote_id_form' action="{%url 'upvotepage' pr_dt.id %}">
  {% csrf_token %}
  <input type="hidden"/>
</form>

{% endblock %}
